@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@300;800&family=Roboto:wght@300&display=swap");

* {
  color: white;
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 1rem;
  font-weight: bold;
}

#nav-elements {
  display: flex;
  flex-direction: row;
}

.nav-button {
  background-color: transparent;
  color: #34d4d4;
  font-size: small;
  margin: 0 1rem;
  padding: 0.1rem 0.6rem;
  border: 0.1rem solid #34d4d4;
  border-radius: 0.3rem;
}

.section {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container00 {
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #32cece;
  gap: 0.6rem;
}

.container01 {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(5, 97, 98, 0.4962359943977591) 100%
  );
}

#signature {
  color: #41cccc;
  font-size: 2.4rem;
  font-weight: 550;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.payment {
  text-align: center;
  line-height: 190%;
  margin: 1rem 0;
}

#just12x {
  font-weight: 500;
  font-size: 18px;
}

#price {
  font-size: 60px;
  color: #32cece;
  font-weight: 800;
}

#acess {
  margin-bottom: 1rem;
  margin-top: -1rem;
  padding: 0.3rem 0.9rem;
  border: 0.1rem solid white;
  border-radius: 0.4rem;
}

.li {
  margin: 0.5rem;
  padding-right: 0.5rem;
}

#checkItens {
  line-height: 1.5rem;
}

#button {
  padding: 0.8rem 1.2rem;
  margin: 1.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.container02 {
  background: rgb(32, 18, 54);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(1, 13, 145, 0.40379901960784315) 100%
  );
}

.flowImgs {
  width: 94%;
  border-radius: 0.3rem;
}

.container03 {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(5, 97, 98, 0.4962359943977591) 100%
  );
}

.container06 {
  padding: 0.5rem 0;
}

.video {
  width: 94%;
  border-radius: 0.3rem;
}

.depoimentos {
  width: 94%;
  border-radius: 0.3rem;
}

.subtitle {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  padding: 0 0.8rem;
  margin: 0.8rem;
}

.copy {
  font-size: 1rem;
  text-align: center;
  padding: 0 0.8rem;
}

.images {
  width: 94%;
  border-radius: 0.3rem;
}

.container07 {
  padding: 0.5rem;
}

.accordion-body {
  color: black;
}
